<ion-header [translucent]="true">
  <ion-toolbar color="primary">


    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuarios</ion-title>
    </ion-toolbar>
</ion-header>

 
<!-- boton flotante para agregar usuarios -->

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addUser()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
